.navPrimary {
    background-color: #321911;
    padding: 40px;
}
.navSecondary {
    padding: 40px;
    background-color: #5d4037;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navContainer {
    padding: 0px;
    color: white;
}
